DC/simpledc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:dc="http://purl.org/dc/elements/1.1/"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

  <xs:annotation>
    <xs:documentation xml:lang="en">
      Simple DC container XML Schema
 
      Created 2008-02-11

      Created by 

      Tim Cole (t-cole3@uiuc.edu)
      Tom Habing (thabing@uiuc.edu)
      Jane Hunter (jane@dstc.edu.au)
      Pete Johnston (p.johnston@ukoln.ac.uk),
      Carl Lagoze (lagoze@cs.cornell.edu)

      This schema declares a container element for a Simple DC application. 
      
      The declaration of the simpledc element uses the dc:elementContainer
      complexType. 

      Note that this schema does not define a target namespace. The expectation is that
      the simpledc element is assigned to a namespace by an application schema 
      which includes this schema.
      
    </xs:documentation>

  </xs:annotation>

   <xs:import namespace="http://purl.org/dc/elements/1.1/"
              schemaLocation="dc.xsd"/>
              
    <!-- Here declare a simpledc lement which contains the attribute "ID. The type of the element extend the original dc:elementContainer --> 
    
   <xs:complexType name="simpledcWithIDType">
    <xs:complexContent>
      <xs:extension base="dc:elementContainer">
        <xs:attribute name="ID" type="xs:integer" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>            


<!-- Here the element "simpledc" does not contain the attribute "ID". -->

   <!-- xs:element name="simpledc" type="dc:elementContainer" -->

   
   <xs:element name="simpledc" type="simpledcWithIDType"/>

</xs:schema>